<!DOCTYPE html>
<html>
<head>
  <title>Listing Tokimons</title>
</head>
<body>
  <div>
  <div id="big_container">
  <p id="page_title">Listing Tokimons</p>
    <div id="app_container">
      <p class="red_title">Tokimons In Captivity</p>
      <table>

        <thead>
          <tr>
            <th>Name</th>
            <th>Trainer</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @tokimons.each do |tokimon| %>
            <tr>
              <td><%= tokimon.name %></td>  
              <td><%= Trainer.find(tokimon.trainer_id).name %> (<%= Trainer.find(tokimon.trainer_id).id %>)</td>
              <td><%= link_to 'View Tokimon', tokimon %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
      </div> 
    </div>
  </div>
  <div id="bot_bar"></div>
  </div>
</body>
</html>
