<!DOCTYPE html>
<html>
<head>
  <title>Listing Tokimons</title>
</head>
<body>
  <div>
  <div id="big_container">
  <p id="page_title">Listing Tokimons</p><p>*Number besides names are used to distinguish tokimons with the same name*</p>
    <div id="app_container">
      <p class="red_title">Tokimons In Captivity</p>
      <table>

        <thead>
          <tr>
            <th>Name</th>
            <th>Belongs To</th>
          </tr>
        </thead>

        <tbody>
          <% @tokimons.each do |tokimon| %>
            <tr>
              <td><%= link_to tokimon.full_name, tokimon %></td>  
              <td><%= link_to Trainer.find(tokimon.trainer_id).full_name, Trainer.find(tokimon.trainer_id) %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
      </div> 
    </div>
  </div>
  <div id="bot_bar"></div>
  </div>
</body>
</html>
