<!DOCTYPE html>
<html>
<head>
  <title>Listing Trainers</title>
</head>
<body>
  <div>
  <div id="big_container">
  <p id="page_title">Listing Trainers</p><p>*Number besides names are used to distinguish trainers with the same name*</p>
    <div id="app_container">
      <p class="red_title">Trainers</p>
      <table>

        <thead>
          <tr>
            <th>Name</th>
            <th>Modify</th>
            <th><%= link_to 'Hire New Trainer', new_trainer_path %></th>
          </tr>
        </thead>

        <tbody>
          <% @trainers.order(:name, id: :asc).each do |trainer| %>
            <tr>
              <td><%= link_to trainer.full_name, trainer %></td>
              <td><%= link_to 'Modify', edit_trainer_path(trainer) %></td>
              <td><%= link_to 'Execute Trainer', trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
      </div> 
    </div>
  </div>
  <div id="bot_bar"></div>
  </div>
</body>
</html>